{% load bootstrap4 %}
<div class="container-fluid">
    <div class="card-group ">
        <div class="card" style="flex-grow: 1;">
            <div class="card-header text-center">{{collection.title}}</div>
            <div class="card-body">
               {{item_collected}} out of {{total_item}} items collected ({{percentage}}%)
            </div>
        </div>
        <div class="card" style="flex-grow: 4;">
            <div class="card-body bg-primary" style="max-height: 150px;overflow-y: auto;">
                <p class="text-white text-left">{{collection.description}}</p>
            </div>
        </div>
    </div>
</div>
<br>

<br> 
<div class="container-fluid"> 
    <a class="btn btn-primary" style="width: 120px;" href="/collections/{{collection.title}}/items/">All Items</a>
    <a class="btn btn-primary" style="width: 120px;" href="/collections/{{collection.title}}/my_items/">My Items</a>
</div>
<br>