{% extends 'base_page.html' %}
{% load bootstrap4 %} 

{% block content %}

{% include 'items/base_item.html' %}
<div class="container-fluid"> 
    {% if items %} 
    <div class="card-deck">
        {% for item in items %}
            <div class="card" style="width: 18rem; flex-grow: 0.2;"> 
                <img class="card-image-top" src="{{item.cover_image.url}}"/>
                <div class="card-header text-center">
                    <a class="btn btn-primary text-center" href="/collections/{{collection.title}}/items/{{ item.item_id }}/">{{ item.name }}</a>
                </div> 
            </div>
        {% endfor %}
    </div> 
    {% else %}
    <div class="card">
        <p class="h1">There is no items collected</p>    
    </div>
    {% endif %}
</div>
{% endblock %}